# Data review

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv("E:\Parsa\project of data analytics\project2(Demand analysis and forecasting with classic machine learning models)\simulated_sales_data.csv")
data.head()

      Category  Season       Price  Discount  Advertising  Sales
0         Food  Autumn   11.708780       8.0  1356.497728    144
1        Books  Spring   24.380854      26.4  4021.081682    413
2  Electronics  Spring  204.752119      23.9  1510.853935    110
3         Food  Winter    7.115482      19.8  4304.270521    389
4         Food  Autumn    5.507927      25.5  4128.112351    516

In [3]:
data.describe()

            Price    Discount  Advertising        Sales
count  500.000000  500.000000   500.000000   500.000000
mean    66.518099   15.198000  3006.243431   273.092000
std     77.660675    8.708971  1165.680731   160.262196
min     -1.509606    0.100000  1012.873054    51.000000
25%     12.119717    7.300000  1981.238051   157.000000
50%     20.108814   15.800000  3035.565350   242.500000
75%     60.114202   22.225000  4044.093817   339.500000
max    212.634662   30.000000  4993.390046  1030.000000

In [4]:
df = pd.DataFrame(data)

variance_data = {"var_price":df["Price"].var() , "var_discount": df["Discount"].var() , "var_advertising":df["Advertising"].var() , "var_sales":df["Sales"].var()}
variance_data

{'var_price': 6031.1804366139295,
 'var_discount': 75.8461683366734,
 'var_advertising': 1358811.5672696754,
 'var_sales': 25683.971478957938}

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler_df = scaler.fit_transform(df[["Price" , "Discount" , "Advertising" , "Sales"]])
scaler_df = pd.DataFrame(scaler_df , columns=["Price" , "Discount" , "Advertising" , "Sales"])
scaler_df = pd.concat([ df[["Category","Season"]] , scaler_df] , axis = 1)

scaler_df

        Category  Season     Price  Discount  Advertising     Sales
0           Food  Autumn -0.706461 -0.827332    -1.416681 -0.806312
1          Books  Spring -0.543125  1.287548     0.871469  0.873869
2    Electronics  Spring  1.781757  1.000200    -1.284131 -1.018677
3           Food  Winter -0.765666  0.528950     1.114651  0.723964
4           Food  Autumn -0.786386  1.184103     0.963379  1.517209
..           ...     ...       ...       ...          ...       ...
495         Food  Spring -0.762699  1.448463     1.224944  2.878842
496         Food  Spring -0.760029  0.115169     1.090592  1.717082
497        Books  Winter -0.596746  1.161115     0.134761 -0.706375
498  Electronics  Winter  1.764451  0.046206     0.716803 -0.475272
499        Books  Autumn -0.545024  0.402517    -0.643052 -0.643915

[500 rows x 6 columns]

## Linear_model

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score , mean_absolute_error

unique_category = df["Category"].unique()

category_models = {}

for cat in unique_category:
    
    filtered_df = scaler_df[scaler_df["Category"]==cat]
    
    X = filtered_df[["Price" , "Discount" , "Advertising" ]]
    Y = filtered_df[["Sales"]]
    x_train , x_test , y_train , y_test = train_test_split(X,Y , test_size=0.2 , random_state=42)
    linearregression = LinearRegression()
    linearregression.fit(x_train,y_train)
    
    category_models[cat] = linearregression
    
    y_hat = linearregression.predict(x_test)
    mse_linear = mean_squared_error(y_test , y_hat)
    r2_linear = r2_score(y_test , y_hat)
    mae_linear = mean_absolute_error(y_test , y_hat)
    
    print(cat)
    print(f" this is mean_absolut_error :{mae_linear}")
    print(f" this is mean_squared_error :{mse_linear}")
    print(f" this is r2_score :{r2_linear}\n")

Food
 this is mean_absolut_error :0.4555444616236569
 this is mean_squared_error :0.4433431461865112
 this is r2_score :0.7529479895696206

Books
 this is mean_absolut_error :0.30088452014996925
 this is mean_squared_error :0.15681031163198764
 this is r2_score :0.7132097003105957

Electronics
 this is mean_absolut_error :0.24075965154854276
 this is mean_squared_error :0.08635720001408227
 this is r2_score :0.6569102968393474

Clothing
 this is mean_absolut_error :0.35835968213237435
 this is mean_squared_error :0.23672336589421386
 this is r2_score :0.7281570279376317

## Desicion Tree Regression

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import  mean_squared_error , r2_score , mean_absolute_error


unique_category = df["Category"].unique()

category_models = {}

for cat in unique_category:
    
    filtered_df = scaler_df[scaler_df["Category"]==cat]
    
    X = filtered_df[["Price" , "Discount" , "Advertising" ]]
    Y = filtered_df[["Sales"]]
    x_train , x_test , y_train , y_test = train_test_split(X,Y , test_size=0.2 , random_state=42)
    model = DecisionTreeRegressor()
    model.fit(x_train,y_train)
    
    category_models[cat] = model
    
    y_hat = model.predict(x_test)

    mse_tree = mean_squared_error(y_test , y_hat)
    r2_tree = r2_score(y_test , y_hat)
    mae_tree = mean_absolute_error(y_test , y_hat)
    
    print(cat)
    print(f" this is mean_absolut_error :{mae_tree}")
    print(f" this is mean_squared_error :{mse_tree}")
    print(f" this is r2_score :{r2_tree}\n")

Food
 this is mean_absolut_error :0.6585807572421071
 this is mean_squared_error :0.6667289952032286
 this is r2_score :0.6284667077995398

Books
 this is mean_absolut_error :0.4457579037858343
 this is mean_squared_error :0.36885185385303004
 this is r2_score :0.32540703091158063

Electronics
 this is mean_absolut_error :0.2658307760643406
 this is mean_squared_error :0.14677557021143323
 this is r2_score :0.4168733260589229

Clothing
 this is mean_absolut_error :0.5553283044064531
 this is mean_squared_error :0.6152214405602343
 this is r2_score :0.29350605401106444

## KNN Model

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import  mean_squared_error , r2_score , mean_absolute_error


unique_category = df["Category"].unique()

category_models = {}

for cat in unique_category:
    
    filtered_df = scaler_df[scaler_df["Category"]==cat]
    
    X = filtered_df[["Price" , "Discount" , "Advertising" ]]
    Y = filtered_df[["Sales"]]
    x_train , x_test , y_train , y_test = train_test_split(X,Y , test_size=0.2 , random_state=42)
    model = KNeighborsRegressor()
    model.fit(x_train,y_train)
    
    category_models[cat] = model
    
    y_hat = model.predict(x_test)

    mse_knn = mean_squared_error(y_test , y_hat)
    r2_knn = r2_score(y_test , y_hat)
    mae_knn = mean_absolute_error(y_test , y_hat)
    
    print(cat)
    print(f" this is mean_absolut_error :{mae_knn}")
    print(f" this is mean_squared_error :{mse_knn}")
    print(f" this is r2_score :{r2_knn}\n")

Food
 this is mean_absolut_error :0.5036293969835506
 this is mean_squared_error :0.5292159409772103
 this is r2_score :0.7050955601888975

Books
 this is mean_absolut_error :0.3668081620223647
 this is mean_squared_error :0.2062796310399735
 this is r2_score :0.6227352870478835

Electronics
 this is mean_absolut_error :0.24459429489378715
 this is mean_squared_error :0.09052202585434628
 this is r2_score :0.6403638031941277

Clothing
 this is mean_absolut_error :0.3681747163365483
 this is mean_squared_error :0.25470728714394725
 this is r2_score :0.7075050632133392

In [9]:
Food = [{"mse":pd.Series({"mse_linear":mse_linear,"mse_tree":mse_tree,"mse_knn":mse_knn}).idxmin()} ,
        {"mae":pd.Series({"mae_linear":mae_linear,"mae_tree":mae_tree,"mae_knn":mae_knn}).idxmin()} ,
        {"r2":pd.Series({"r2_linear":r2_linear,"r2_tree":r2_tree,"r2_knn":r2_knn}).idxmax()}]

Books = [{"mse":pd.Series({"mse_linear":mse_linear,"mse_tree":mse_tree,"mse_knn":mse_knn}).idxmin()} ,
        {"mae":pd.Series({"mae_linear":mae_linear,"mae_tree":mae_tree,"mae_knn":mae_knn}).idxmin()} ,
        {"r2":pd.Series({"r2_linear":r2_linear,"r2_tree":r2_tree,"r2_knn":r2_knn}).idxmax()}]

Electronics = [{"mse":pd.Series({"mse_linear":mse_linear,"mse_tree":mse_tree,"mse_knn":mse_knn}).idxmin()} ,
        {"mae":pd.Series({"mae_linear":mae_linear,"mae_tree":mae_tree,"mae_knn":mae_knn}).idxmin()} ,
        {"r2":pd.Series({"r2_linear":r2_linear,"r2_tree":r2_tree,"r2_knn":r2_knn}).idxmax()}]

Clothing = [{"mse":pd.Series({"mse_linear":mse_linear,"mse_tree":mse_tree,"mse_knn":mse_knn}).idxmin()} ,
        {"mae":pd.Series({"mae_linear":mae_linear,"mae_tree":mae_tree,"mae_knn":mae_knn}).idxmin()} ,
        {"r2":pd.Series({"r2_linear":r2_linear,"r2_tree":r2_tree,"r2_knn":r2_knn}).idxmax()}]

print(f"""    best model for Food{Food}\n
    best model for Books{Books}\n
    best model for Electronics{Electronics}\n
    best model for Clothing{Clothing}""")

    best model for Food[{'mse': 'mse_linear'}, {'mae': 'mae_linear'}, {'r2': 'r2_linear'}]

    best model for Books[{'mse': 'mse_linear'}, {'mae': 'mae_linear'}, {'r2': 'r2_linear'}]

    best model for Electronics[{'mse': 'mse_linear'}, {'mae': 'mae_linear'}, {'r2': 'r2_linear'}]

    best model for Clothing[{'mse': 'mse_linear'}, {'mae': 'mae_linear'}, {'r2': 'r2_linear'}]

## Feature Engineering

In [10]:
scaler_df["final_price"] = scaler_df["Price"] * (1-scaler_df["Discount"])

scaler_df["ad_budjet_per_sales"] = scaler_df["Advertising"]/scaler_df["Sales"]
scaler_df

,Category,Season,Price,Discount,Advertising,Sales,final_price,ad_budjet_per_sales
0,Food,Autumn,-0.706461,-0.827332,-1.416681,-0.806312,-1.290938,1.756989
1,Books,Spring,-0.543125,1.287548,0.871469,0.873869,0.156175,0.997254
2,Electronics,Spring,1.781757,1.000200,-1.284131,-1.018677,-0.000357,1.260588
3,Food,Winter,-0.765666,0.528950,1.114651,0.723964,-0.360667,1.539649
4,Food,Autumn,-0.786386,1.184103,0.963379,1.517209,0.144776,0.634968
...,...,...,...,...,...,...,...,...
495,Food,Spring,-0.762699,1.448463,1.224944,2.878842,0.342042,0.425499
496,Food,Spring,-0.760029,0.115169,1.090592,1.717082,-0.672497,0.635143
497,Books,Winter,-0.596746,1.161115,0.134761,-0.706375,0.096145,-0.190779
498,Electronics,Winter,1.764451,0.046206,0.716803,-0.475272,1.682924,-1.508194
499,Books,Autumn,-0.545024,0.402517,-0.643052,-0.643915,-0.325643,0.998659

## Optimazed LinearRgression Model

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score , mean_absolute_error

unique_category = df["Category"].unique()

category_models = {}

for cat in unique_category:
    
    filtered_df = scaler_df[scaler_df["Category"]==cat]
    
    X = filtered_df[["Price" , "Discount" , "Advertising","final_price" , "ad_budjet_per_sales"]]
    Y = filtered_df[["Sales"]]
    x_train , x_test , y_train , y_test = train_test_split(X,Y , test_size=0.2 , random_state=42)
    linearregression = LinearRegression()
    linearregression.fit(x_train,y_train)
    
    category_models[cat] = linearregression
    
    y_hat = linearregression.predict(x_test)
    mse_linear = mean_squared_error(y_test , y_hat)
    r2_linear = r2_score(y_test , y_hat)
    mae_linear = mean_absolute_error(y_test , y_hat)
    
    print(cat)
    print(f" this is mean_absolut_error :{mae_linear}")
    print(f" this is mean_squared_error :{mse_linear}")
    print(f" this is r2_score :{r2_linear}\n")

Food
 this is mean_absolut_error :0.4999593171994501
 this is mean_squared_error :0.47712847523997437
 this is r2_score :0.7341211879431473

Books
 this is mean_absolut_error :0.3209227856740896
 this is mean_squared_error :0.18058926591704602
 this is r2_score :0.6697203828369008

Electronics
 this is mean_absolut_error :0.24101244411028128
 this is mean_squared_error :0.08721317341131166
 this is r2_score :0.6535095884013602

Clothing
 this is mean_absolut_error :0.38630431493766687
 this is mean_squared_error :0.25573339399140865
 this is r2_score :0.7063267260685719